<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>customer list Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/admin.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
</head>
<body>
<th:block th:insert="~{admin/adminMain}"></th:block>
<div class="all-container">
	<h1>회원 관리</h1>
	<label for="searchMember">회원 검색: </label>
    <input type="text" id="searchMember" placeholder="아이디로 검색">
	<div class="customer-list">
		<table border="1">
		    <thead>
		        <tr>
		            <th>ID</th>
		            <th>Email</th>
		            <th>이름</th>
		            <th>회원코드</th>
		            <th>가입일</th>
		            <th>회원 탈퇴 처리</th>
		        </tr>
		    </thead>
		    <tbody id="memberTableBody">
		        <!-- 전체 회원 리스트를 여기에 동적으로 채웁니다 -->
		        <tr th:each="member : ${members}">
		            <td th:text="${member.id}"></td>
		            <td th:text="${member.email}"></td>
		            <td th:text="${member.name}"></td>
		            <td>
		                <span th:text="${member.membercode}"></span>
		                <button type="button" onclick="updateMemberCode('${member.id}')">수정</button>
		            </td>
		            <td th:text="${member.signupDate}"></td>
		            <td>
		                <button type="button" onclick="deleteMember('${member.id}')">회원탈퇴</button>
		            </td>
		        </tr>
		    </tbody>
		</table>
	</div>
</div>
</body>
</html>