<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>notice list Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/admin.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/admin.js}"></script>
</head>
<body>
<th:block th:insert="~{admin/adminMain}"></th:block>
<div class="all-container">
	<h1>공지사항 관리</h1>
	<button class="notice-write-btn" type="button" onclick="location.href='/admin-notice-write'">공지사항 작성</button>
	<div class="items">
		<div class="item" th:if="${notices.isEmpty()}">
			<h3>아직 작성한 공지사항이 없습니다...</h3>
		</div>
		<div class="item" th:unless="${notices.isEmpty()}">
			<div class="box" th:each="notice : ${notices}">
				<a th:href="@{notice_detail(notice_seq=${notice.notice_seq})}">
					<th:block th:if="${#lists.isEmpty(notice.uploadedImages)}">
						<img th:src="@{/images/no_img.jpg}" alt="이미지 없음" style="width:200px; height:200px;">
					</th:block>
					<th:block th:unless="${#lists.isEmpty(notice.uploadedImages)}">
						<div th:with="firstImage=${notice.uploadedImages[0]}">
							<img th:src="@{${firstImage}}" th:alt="${notice.title}" style="width:200px; height:200px;">
						</div>
					</th:block>
				</a>
				<h4>제목 : <span th:text="${notice.title}"></span></h4>
				<h4>좋아요수 : <span th:text="${notice.likeCount}"></span> / 
				조회수 : <span th:text="${notice.viewCount}"></span></h4>
			</div>
		</div>
	</div>
</div>
</body>
</html>