<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>my review</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/mypage.js}"></script>
</head>
<body>
<th:block th:insert="~{mypage/mypageMain}"></th:block>
<div class="mybookmark">
	<h1>내가 즐겨찾기한 리뷰</h1>
	<div th:if="${myBookMark.isEmpty()}">
		<h3>즐겨찾기한 리뷰가 없습니다.</h3>
	</div>
	<div th:unless="${myBookMark.isEmpty()}">
		<div class="bookmark-list">
			<div class="bookmark-box" th:each="mybook : ${myBookMark}">
				<a th:href="@{/review_detail(review_seq=${mybook.review.review_seq})}">
					<th:block th:if="${#lists.isEmpty(mybook.review.uploadedImages)}">
	                    <img th:src="@{/images/no_img.jpg}" alt="이미지 없음" style="width:800px; height:200px;">
	                </th:block>
	                <th:block th:unless="${#lists.isEmpty(mybook.review.uploadedImages)}">
	                    <div th:with="firstImage=${mybook.review.uploadedImages[0]}">
	                        <img th:src="@{${firstImage}}" th:alt="${mybook.review.title}" style="width:800px; height:200px;">
	                    </div>
	                </th:block>
				</a>
				<h4>제목 : <span th:text="${mybook.review.title}"></span></h4>
				<h4>작성자 : <span th:text="${mybook.review.member.name}"></span></h4>
				<h4>즐겨찾기 날짜 : <span class="bookmark-date" th:text="${#dates.format(mybook.interactionDate, 'yyyy-MM-dd')}"></span></h4>
			</div>
		</div>
	</div>
</div>
</body>
</html>