<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>my QnA</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/mypage.js}"></script>
<script th:inline="javascript">
function editQna(button) {
	var qna_seq = button.getAttribute('data-qna_seq');
    var qnaWriter = button.getAttribute('data-qna_writer');
    var answer_status = button.getAttribute('data-answer_status');
    var qnaViewer = button.getAttribute('data-qna_viewer');
    
    if (qnaWriter === qnaViewer && answer_status === '0') {
        // 작성자이면서 답변이 달리지 않은 경우 수정 가능
        window.location.href = '/qnaEdit?qna_seq=' + qna_seq;
    } else if (qnaWriter !== qnaViewer) {
        // 작성자가 아닌 경우 경고 메시지
        swal.fire({
            title: 'QnA 수정 불가',
            text: '작성자만 수정이 가능합니다.',
            icon: 'warning',
            confirmButtonText: '확인'
        });
    } else if (answer_status === '1') {
        // 답변 완료된 경우 수정 불가 메시지
        swal.fire({
            title: 'QnA 수정 불가',
            text: '답변이 완료된 질문은 수정할 수 없습니다.',
            icon: 'error',
            confirmButtonText: '확인'
        });
    }
}

function deleteQna(button) {
	var qna_seq = button.getAttribute('data-qna_seq');
    var qnaWriter = button.getAttribute('data-qna_writer');
    var qnaViewer = button.getAttribute('data-qna_viewer');
    
    if (qnaWriter === qnaViewer) {
        swal.fire({
            title: 'QnA 삭제',
            text: '정말로 삭제하시겠습니까?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: '삭제',
            cancelButtonText: '취소'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = '/deleteQna?qna_seq=' + qna_seq;
            }
        });
    } else {
        swal.fire({
            title: '삭제 불가',
            text: '작성자만 삭제할 수 있습니다.',
            icon: 'error',
            confirmButtonText: '확인'
        });
    }
}
function showAnswer(button) {
    const answer = button.getAttribute('data-answer');

    Swal.fire({
        title: '답변 내용',
        text: answer,
        icon: 'info',
        confirmButtonText: '확인'
    });
}
</script>
</head>
<body>
<th:block th:insert="~{mypage/mypageMain}"></th:block>
<div class="myqna">
	<h1>내 질문 현황</h1>
	<div class="qna-item">
		<div th:if="${myQna.isEmpty()}">
			<h3>작성한 질문이 없습니다.</h3>
			<a th:href="@{/qna_write}">질문 작성</a>
		</div>
		<div th:unless="${myQna.isEmpty()}">
			<a th:href="@{/qna_write}">질문 작성</a>
			<div class="qna-box">
				<table>
					<thead>
						<tr>
							<th>No</th>
							<th>제목</th>
							<th>답변 현황</th>
							<th>작성 날짜</th>
							<th>작업</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="qna : ${myQna}">
							<td th:text="${qna.qna_seq}"></td>
							<td th:text="${qna.title}"></td>
							<td>
								<button th:if="${qna.answer_status == 1}" type="button"
							            class="answer-view-btn" th:data-answer="${qna.answer}"
							            onclick="showAnswer(this)">
							        답변 완료
							    </button>
							    <span th:if="${qna.answer_status != 1}">답변 대기</span>
							</td>
							<td th:text="${#dates.format(qna.qna_date, 'yyyy-MM-dd HH:mm:ss')}"></td> <!-- 질문 작성 날짜 -->
							<td>
		                        <!-- 수정 버튼 -->
	                            <button class="qna-edit-btn" type="button" th:attr="data-qna_seq=${qna.qna_seq},
	                            	data-qna_writer=${qna.member.id}, data-answer_status=${qna.answer_status},
	                            	data-qna_viewer=${loginUser.id}" onclick="editQna(this)">수정</button>
	                            <!-- 삭제 버튼 -->
	                            <button class="qna-delete-btn" type="button" th:attr="data-qna_seq=${qna.qna_seq},
	                            	data-qna_writer=${qna.member.id}, data-qna_viewer=${loginUser.id}"
	                            	onclick="deleteQna(this)">삭제</button>
		                    </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</body>
</html>