<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>my QnA</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/mypage.js}"></script>
</head>
<body>
<th:block th:insert="~{include/header}"></th:block>
<div class="myqna">
<th:block th:insert="~{mypage/mypagelist}"></th:block>
	<h1>내 질문 현황</h1>
	<div th:if="${myQna.isEmpty()}">
		<h3>작성한 질문이 없습니다.</h3>
		<a th:href="@{/qna_write}">질문 작성</a>
	</div>
	<div th:unless="${myQna.isEmpty()}">
		<a th:href="@{/qna_write}">질문 작성</a>
		<div class="qna-box">
			<table>
				<thead>
					<tr>
						<th>No</th>
						<th>제목</th>
						<th>답변 현황</th>
						<th>작성 날짜</th>
						<th>작업</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="qna : ${myQna}">
						<td th:text="${qna.qna_seq}"></td>
						<td th:text="${qna.title}"></td>
						<td>
							<span th:text="${qna.answer != null ? '답변 완료' : '답변 대기 중'}"></span> <!-- 답변 현황 -->
						</td>
						<td th:text="${#dates.format(qna.qna_date, 'yyyy-MM-dd HH:mm:ss')}"></td> <!-- 질문 작성 날짜 -->
						<td>
	                        <a th:href="@{/qna_update(id=${qna.qna_seq})}" class="qna-update-btn">수정</a> <!-- 수정 버튼 -->
	                        <button type="button" class="delete-btn" onclick="deleteQna(${qna.qna_seq})">삭제</button> <!-- 삭제 버튼 -->
	                    </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
</body>
</html>