<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Info Update</title>
<link rel="stylesheet" th:href="@{/css/mypage.css}">
<script th:src="@{js/mypage.js}"></script>
</head>
<body>
<!-- 헤더 -->

<!-- 메뉴 -->
<th:block th:insert="~{mypage/menu}"></th:block>
<div class="infoupdate-container">
	<h1>개인 정보 수정</h1>
	<form id="info-update-form" method="post">
		<label>아이디</label>
		<input type="text" name="id" id="id" th:value="${loginUser.id}" readonly onclick="showAlert()"/>
		
		<label>비밀번호</label>
		<input type="password" name="pwd" id="pwd" placeholder="비밀번호(1)"/>
		
		<label>비밀번호 확인</label>
		<input type="password" name="pwd-check" id="pwd-check" placeholder="비밀번호(2)"/>
		
		<label>이메일</label>
		<input type="email" name="email" id="email" th:value="${loginUser.email}" readonly onclick="showAlert()"/>
		
		<label>이름</label>
		<input type="text" name="name" id="name" th:value="${loginUser.name}" readonly onclick="showAlert()"/>
		
		<label>닉네임</label>
		<input type="text" name="nickname" id="nickname" />
		<button type="button" id="nick-check-button">중복체크</button>
	</form>
	<button type="button" id="info-update-button">수정</button>
</div>
</body>
</html>