<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Info View</title>
</head>
<body>
<div class="infoview-container">
	<h1>개인 정보</h1>
	<ul>
		<li>아이디 : <span class="mypage-text">[[${session.loginUser.id}]]</span></li>
		<li>비밀번호 : <span class="mypage-text">**********</span></li>
		<li>이메일 : <span class="mypage-text">[[${session.loginUser.email}]]</span></li>
		<li>이름 : <span class="mypage-text">[[${session.loginUser.name}]]</span></li>
		<li>닉네임 : <span class="mypage-text">[[${nickname}]]</span></li>
		<li>작성한 글 : <span class="mypage-text">[[${cnt}]]</span></li>
	</ul>
</div>
</body>
</html>