<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Customer Main Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/customer.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/customer.js}"></script>
</head>
<body>
<th:block th:insert="~{include/header}"></th:block>
<div class="customer-main-container">
	<h2>
		<a th:href="@{/notice}">공지사항</a>
		<a th:href="@{/fav_qna}">자주 묻는 질문</a>
		<a th:href="@{/qna_write}">문의 작성</a>
	</h2>
</div>
</body>
</html>