<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>join</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.5.2/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" th:href="@{/css/login.css}">
<script th:src="@{js/login.js}"></script>
</head>
<body>
<th:block th:insert="~{include/header}"></th:block>
<div class="join-container">
	<h1>회원가입</h1>
	<form id="join-form" method="post">
		<span>ID는 영문자와 숫자로만 구성되어야 하고, 3자 이상 15자 이하여야 합니다.</span>
		<input type="text" name="id" id="id" placeholder="ID">
		<button class="check-btn" type="button" id="id-check-button">중복체크</button>
		<input type="email" name="email" id="email" placeholder="Email">
		<button class="check-btn" type="button" id="email-check-button">중복체크</button>
		<span>비밀번호는 최소 8자 이상이며, 대문자, 소문자, 숫자, 특수문자를 모두 포함해야 합니다.</span>
		<input type="password" name="pwd" id="pwd" placeholder="Password">
		<input type="password" name="pwdcheck" id="pwdcheck" placeholder="PasswordCheck">
		
		<!-- 주소 입력란 -->
        <input type="text" name="address" id="address" placeholder="기본 주소" readonly>
        <button class="address-btn" type="button" id="address-search-button">주소 검색</button>

        <!-- 상세 주소 입력란 -->
        <input type="text" name="addressDetail" id="addressDetail" placeholder="상세 주소">
        
		<input type="text" name="name" id="name" placeholder="Name">
		<button class="join-btn" type="button" id="join-button">회원가입</button>
	</form>
</div>
</body>
</html>