<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" th:href="@{/css/guide.css}">
<style>

</style>
<title>캠핑준비 한번에 끝내기</title>
</head>
<body>
<!-- 헤더 -->
<th:block th:insert="~{include/header}"></th:block>
<div class="guide-container">
    <h2 class="guide-h2">캠핑준비 한번에 끝내봐요!</h2>
    <div class="guide-step">
        <h3 class="guide-h3">1단계 ! 캠핑장 고르기&nbsp;<i class="fas fa-search-location"></i></h3>  <a th:href="@{/recommend}" class="a-btn"><i class="fas fa-walking">&nbsp;</i>캠핑장 추천받기 go!</a> <a th:href="@{/review}" class="a-btn"><i class="fas fa-walking"></i>&nbsp;캠핑장 리뷰보러 go!</a><br>
    </div>
    <div class="guide-step">
        <h3 class="guide-h3">2단계 ! 캠핑장 예약하기&nbsp;<i class="fas fa-calendar-check"></i></h3> <a th:href="@{/book}" class="a-btn"><i class="fas fa-walking">&nbsp;</i>캠핑장 예약하기 go!</a><br>
    </div>
    <div class="guide-step">
        <h3 class="guide-h3">3단계 ! 캠핑 물품 준비하기&nbsp;<i class="fas fa-suitcase-rolling"></i></h3> <a href="#" onclick="loadContent('/shopping')" class="a-btn"><i class="fas fa-walking">&nbsp;</i>원하는 캠핑용품 쇼핑하러 go!</a><br>
    </div>
    <div class="guide-step">
        <h3 class="guide-h3">4단계 ! 완벽한 캠핑 준비하기&nbsp;<i class="fas fa-campground"></i></h3> 
        <a href="#" onclick="loadContent('/magazine')" class="a-btn"><i class="fas fa-walking"></i>&nbsp;캠핑 공부하러 go!</a>
        <a href="#" onclick="loadContent('/recipes')" class="a-btn"><i class="fas fa-walking"></i>&nbsp;요리 준비하러 go!</a>
        <a href="#" onclick="loadContent('/enjoy')" class="a-btn"><i class="fas fa-walking"></i>&nbsp;놀거리 준비하러 go!</a>     
    </div>
</div>

<br>
<div id="content"></div>

<script>
function loadContent(url) {
    $.ajax({
        url: url,
        type: 'GET',
        success: function(response) {
            var newWindow = window.open("", "_blank", "width=800,height=600,top=100,left=100");
            newWindow.document.open();
            newWindow.document.write('<!DOCTYPE html><html><head><meta charset="UTF-8"><title>캠핑 준비</title><script src="https://code.jquery.com/jquery-3.7.1.min.js"></' + 'script><script>' +
                '$(document).ready(function() {' +
                    'console.log("New window script loaded");' +
                    '$(document).on("click", ".cafe-link", function(event) {' +
                        'event.preventDefault();' +
                        'console.log("Link clicked");' +
                        'var link = $(this).attr("data-link");' +
                        'console.log("Link data-link:", link);' +
                        '$.ajax({' +
                            'url: "/cafecontent",' +
                            'method: "GET",' +
                            'data: { url: link },' +
                            'success: function(data) {' +
                                'console.log("Content loaded:", data);' +
                                '$("#cafeContent").html(data);' +
                            '},' +
                            'error: function(xhr, status, error) {' +
                                'console.error("Error:", error);' +
                            '}' +
                        '});' +
                    '});' +
                '});' +
            '</' + 'script></head><body>' + response + '<div id="cafeContent"></div></body></html>');
            newWindow.document.close();
            newWindow.history.pushState({}, "", url);
            newWindow.focus();
        },
        error: function(error) {
            console.log(error);
        }
    });
}
</script>
<!-- 푸터 -->
<th:block th:insert="~{include/footer}"></th:block>
</body>
</html>
