<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>캠핑 즐기기</title>
<link rel="stylesheet" th:href="@{/css/guide.css}">
</head>
<body>
<div class="enjoy-container">
	<h1 class="guide-h1">캠핑 즐기기</h1>
	<h3 class="guide-h3">1. 아이랑 캠핑가서 뭐하고 놀지?</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/IA4B-rUQlrQ?si=3DE_QvxTAa3nGH9l" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe><br><br><br>
     
    <h3 class="guide-h3">2. 캠핑장에서 하기 좋은 보드게임</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ehYwgiB4Gig?si=xAtcDn-12D5xgIJp" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe><br><br><br>
    
    <h3 class="guide-h3">3. 감성 캠핑 기분내기</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yvY_5o70ZBE" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe><br><br><br>
     
    <h3 class="guide-h3">4. 캠핑요리 10선</h3>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/15r6xqmKi8g?si=3CmZY0IgCL9rwhrK" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
     allowfullscreen></iframe><br>
</div>
</body>
</html>
