<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Review Detail</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/review.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/review.js}"></script>
<script th:inline="javascript">
	var writer = /*[[${review.member.id}]]*/ '';
	var viewer = /*[[${loginUser.id}]]*/ '';
	var review_seq = /*[[${review.review_seq}]]*/ 0;
	
	function checkAndEdit() {
		if(writer == viewer) {
			window.location.href = '/edit?review_seq=' + review_seq;
		} else {
			swal.fire({
				title: '리뷰 수정 실패',
				text: '작성자만 수정 가능합니다.',
				icon: 'warning',
				confirmButtonText: '확인'
			});
		}
	}
</script>
</head>
<body>
<div class="review-detail-container">
	<h1>리뷰 상세 보기</h1>
	<div class="review-btn">
		<span id="count">조회수 : [[${review.viewCount}]]</span> |
		<span id="count">추천수 : [[${review.recoCount}]]</span> |
		<span id="count">즐겨찾기수 : [[${review.checkCount}]]</span>
		<div class="count-btn">
			<button type="button" id="recommend-button" th:attr="data-review-seq=${review.review_seq}"
				onclick="reviewReco(this)">추천하기</button>
			<button type="button" id="bookmark-button" th:attr="data-review-seq=${review.review_seq}"
				onclick="reviewCheck(this)">즐겨찾기</button>
	    </div>
	</div>
	<div class="review-detail-content">
		<th:block th:if="${#lists.isEmpty(uploadImages)}">
            <img th:src="@{/images/no_img.jpg}" alt="이미지 없음" style="width:200px; height:200px;">
        </th:block>
        <th:block th:unless="${#lists.isEmpty(uploadImages)}">
            <div th:each="image : ${uploadImages}">
                <img th:src="@{${image}}" th:alt="${review.title}" style="width:200px; height:200px;">
            </div>
        </th:block>
		<h4>작성자 : <span th:text="${review.member.id}"></span></h4>
		<h4>제목 : <span th:text="${review.title}"></span></h4>
		<h4>리뷰 내용 : <span th:text="${review.content}"></span></h4>
		<h4>작성 날짜 : <span th:text="${#dates.format(review.review_date, 'yyyy-MM-dd HH:mm')}"></span></h4>
	</div>
	<div class="review-reply">
		<h2>댓글</h2>
		<div class="reply-box" th:each="reply : ${reply}">
			<div class="reply-content">
				<h5><span th:text="${reply.member.name}"></span>
				<span th:text="${reply.content}"></span>
				<span th:text="${#dates.format(reply.reply_date, 'yyyy-MM-dd HH:mm')}"></span></h5>
				<button type="button" th:attr="data-reply-seq=${reply.replySeq}" 
						onclick="replyLike(this)">좋아요</button>
				<span>좋아요 수 : <span th:text="${reply.likes}"></span></span>
				<button type="button" th:attr="data-reply-seq=${reply.replySeq}" 
						onclick="replyDelete(this)">댓글삭제</button>
				<!-- th:attr은 속성 이름과 값을 동적으로 설정할 수 있게 한다. (JavaScript와 상호작용할 때 유용) -->
			</div>
		</div>
		<div class="reply-content" th:if="${loginUser != null}">
			<form class="reply-write-form" id="reply-write-form" method="post">
				<input type="hidden" name="review_seq" th:value="${review.review_seq}">
				<input type="hidden" name="member_id" th:value="${loginUser.id}">
				<input type="text" id="content" name="content" placeholder="댓글을 작성하세요">
			</form>
			<button type="button" onclick="reply_write()">댓글 작성</button>
		</div>
	</div>
	<div class="review_btn">
		<button type="button" onclick="window.location.href='/review'">목록으로</button>
		<th:block th:if="${loginUser != null}">
        <button type="button" onclick="checkAndEdit()">수정하기</button>
        </th:block>
	</div>
</div>
</body>
</html>