<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Review Edit</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/review.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/review.js}"></script>
</head>
<body>
<div class="review-edit-container">
	<h1>리뷰 수정</h1>
	<form class="review-edit-form" id="review-edit-form" method="post" enctype="multipart/form-data">
		<input type="hidden" name="review_seq" th:value="${review.review_seq}" />
        <!-- 이미 업로드된 이미지 표시 -->
        <div class="uploaded-images">
            <th:block th:if="${#lists.isEmpty(review.uploadedImages)}">
                <div class="uploaded-image">
                    <img th:src="@{/images/no_img.jpg}" alt="이미지 없음" style="width:200px; height:200px;">
                </div>
            </th:block>
            <th:block th:unless="${#lists.isEmpty(review.uploadedImages)}">
                <th:block th:each="image, iterStat : ${review.uploadedImages}">
                    <div class="uploaded-image">
                        <img th:src="@{${image}}" alt="이미지 없음" style="width:200px; height:200px;">
                        <button type="button" onclick="deleteImage(${review.review_seq}, ${iterStat.index})">
						    삭제
						</button>
                    </div>
                </th:block>
            </th:block>
        </div>
		<label>제목</label>
		<input type="text" name="title" id="title" th:value="${review.title}" />
		<label>내용</label>
		<textarea name="content" id="content" th:text="${review.content}"></textarea>
		<input type="file" name="uploadFile" id="uploadFile" multiple>
	</form>
	<button type="button" onclick="window.location.href='/review'">목록으로</button>
	<button type="button" onclick="update_review()">리뷰 수정</button>
</div>
</body>
</html>