<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Review Main Page</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
<link rel="stylesheet" th:href="@{/css/review.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.js"></script>
<script th:src="@{/js/review.js}"></script>
</head>
<body>
<div class="review-main-container">
	<h1>리뷰</h1>
	<h3>다른 회원이 작성한 리뷰를 읽거나, 나만의 리뷰를 작성해 보세요.</h3>
	<a th:href="@{/review-write}">리뷰 작성</a>
	<div class="review-list">
		<h2>리뷰 목록</h2>
		<div class="search-container">
	        <form id="search_review" method="get">
	            <select name="searchType">
	                <option value="search_id">ID</option>
	                <option value="search_title">제목</option>
	            </select>
	            <input type="search" id="search" name="keyword" placeholder="검색어를 입력하세요." />
	            <button type="button" onclick="search_review()">검색</button>
	        </form>
	    </div>
		<div th:if="${reviews.isEmpty()}">
		    <p>작성된 리뷰가 없습니다.</p>
		</div>
		<div th:unless="${reviews.isEmpty()}">
		    <div class="review-box" th:each="review : ${reviews}">
		    	
		        <th:block th:if="${review.uploadFilePath == null}">
		            <img th:src="@{/images/no_img.jpg}" alt="이미지 없음">
		        </th:block>
		        <th:block th:unless="${review.uploadFilePath == null}">
		            <img th:src="${review.uploadFilePath}" alt="${review.title}">
		        </th:block>
		        <h4>제목 : <span th:text="${review.title}"></span></h4>
		        <h4>작성자 : <span th:text="${review.member.id}"></span></h4>
		        <h4>조회수 : <span th:text="${review.viewCount}"></span> / 
		        추천수 : <span th:text="${review.recoCount}"></span></h4>
		    </div>
		</div>
		
	</div>
</div>
</body>
</html>